




#bg-ilustra{
    background-position: top center !important;
    background-image: url('../img/meuTrabalho/Pedro_Ferreira_3_sobre.jpg') !important;
    background-size: cover;
}

@media screen and (max-width: 758px){
    #bg-ilustra {
        background-size: contain;
    }
}


#bg-ilustra::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 0;
    top: 0;
    filter: grayscale(100%);
}


#sobre, #portfolio{
    z-index: 2;
}






/*Sobre*/

#sobre{
    padding-top: 40px;
}

.title{
    font-family: "Karla", sans-serif !important;
    letter-spacing: 6px;
    color: white;
}

#sobre p {
    text-align: center;
    color: #a68d76;
    font-size: 18px;
    letter-spacing: 0.1px;
}

.pricetable-1 .titleContainer{
    opacity: 1 !important;
    cursor: default !important;
}

/*fim Sobre*/




















/*PORTFOLIO*/
#myTab {
    display: flex;
    justify-content: center;
}

#myTab li {
    padding: 0 !important;
    width: calc(50% - 10px);
    max-width: 200px;
}
#myTab li{
    margin-right: 10px;
}




@media screen and (max-width: 768px){
    #myTab {
        display: flex;
        justify-content: space-between;
    }

    #myTab li {
        margin-right: 0;
        padding: 0 !important;
        width: calc(50% - 10px);
        max-width: 100%;
    }
}

#myTab li a{
    opacity: 0.75;
}
#portfolio img {
    padding: 5px;
    box-sizing: border-box;
}
#portfolio .active {
    border: none !important;
    opacity: 1;




    box-sizing: border-box !important;
    padding: 0 !important;

}

#portfolio .active a{
    color: #a68d76;
    background-color: #ffffff !important;
    opacity: 1;
}

.description {
    margin-top: 20px;
}

.description p{
    margin-top: 20px;
    line-height: 180% !important;
    font-size: 15px !important;
    font-family: "Karla", sans-serif;
}

#ilustracao, #animacao {
    /*hahaha*/
    max-height: 1715px;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ;
    transition: all 0.4s ease ;
}

#portfolio .container {
    padding-bottom: 80px !important;
}

#showIlu, #showAnim{
    position: absolute;
    bottom: 40px;
    left:50%;
    transform: translateX(-50%);
    z-index: 8;
}

#showIlu a, #showAnim a{
    color: rgb(28, 29, 29) !important;
}



/* fim PORTFOLIO*/